.app-layout {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-app);
}

.content-container {
  flex: 1;
  overflow: hidden;
  height: calc(100vh - 60px); /* 60px is the header height */
  width: 100%;
}
